# Игнорирование папки node_modules
node_modules/

# Игнорирование сгенерированных файлов
dist/
build/
*.log

# Игнорирование файлов конфигурации
.env
config.js

# Игнорирование временных файлов редактора
.vscode/
*.swp
*.swo

# Игнорирование локальных конфигураций пакетного менеджера
package-lock.json
yarn.lock